.microsoftteamsImage2Icon {
  position: absolute;
  top: 7px;
  left: -40px;
  border-radius: var(--br-533xl-5);
  width: 1960px;
  height: 1105px;
  object-fit: cover;
}
.cryptoChild {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-midnightblue);
  width: 1920px;
  height: 95px;
}
.portfolio {
  position: relative;
  text-transform: capitalize;
}
.frame,
.portfolioWrapper {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  width: 259px;
  color: inherit;
}
.portfolioWrapper {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.frame {
  top: 27px;
  left: 1329px;
  height: 55px;
  overflow: hidden;
}
.loginSign,
.loginSignUpWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginSign {
  position: relative;
  text-transform: capitalize;
  width: 177px;
  height: 39px;
  flex-shrink: 0;
}
.loginSignUpWrapper {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 25px;
  left: 1631px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 259px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  color: inherit;
}
.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vectorIcon1 {
  height: 50.39%;
  width: 54.56%;
  top: 25%;
  right: 22.52%;
  bottom: 24.61%;
  left: 22.91%;
}
.appLogoInspiraton9 {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  height: 9.44%;
  width: 5.36%;
  top: 0;
  right: 94.9%;
  bottom: 90.56%;
  left: -0.26%;
}
.cryptoItem {
  position: absolute;
  top: 235px;
  left: 326px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-500);
  box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.25);
  width: 1263px;
  height: 930px;
  opacity: 0.8;
  mix-blend-mode: normal;
}
.allCryptocurrencies {
  text-decoration: none;
  position: absolute;
  top: 168px;
  left: 710px;
  font-size: var(--font-size-35xl);
  color: inherit;
  text-align: left;
  display: flex;
  align-items: center;
  width: 530px;
  height: 37px;
}
.cryptoInner,
.lineDiv {
  position: absolute;
  top: 287.5px;
  left: 325.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1264px;
  height: 1px;
}
.lineDiv {
  top: 321.5px;
  left: 327.5px;
  width: 1262px;
}
.name,
.symbol {
  position: absolute;
  top: 265px;
  left: 445px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 54px;
  height: 21px;
}
.symbol {
  top: 268px;
  left: 551px;
  width: 92px;
  height: 13px;
}
.marketCap {
  top: 264px;
  left: 692px;
  text-align: left;
  width: 102px;
  height: 21px;
}
.h,
.marketCap,
.price {
  position: absolute;
  display: flex;
  align-items: center;
}
.price {
  top: 264px;
  left: 912px;
  text-align: left;
  width: 45px;
  height: 21px;
}
.h {
  top: 265px;
  left: 1261px;
  width: 36px;
}
.d,
.h,
.h1 {
  text-align: left;
  height: 21px;
}
.h1 {
  position: absolute;
  top: 265px;
  left: 1361px;
  display: flex;
  align-items: center;
  width: 52px;
}
.d {
  top: 264px;
  left: 1468px;
  width: 39px;
}
.bitcoin,
.btc,
.curcilatingSupply,
.d {
  position: absolute;
  display: flex;
  align-items: center;
}
.curcilatingSupply {
  top: 265px;
  left: 1034px;
  text-align: left;
  width: 163px;
  height: 21px;
}
.bitcoin,
.btc {
  top: 294px;
  justify-content: center;
}
.bitcoin {
  left: 452px;
  font-size: var(--font-size-lg);
  width: 58px;
  height: 21px;
}
.btc {
  left: 569px;
  text-transform: capitalize;
  width: 35px;
  height: 20px;
}
.p {
  margin: 0;
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div,
.div1 {
  position: absolute;
  top: 294px;
  left: 663px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 159px;
  height: 41px;
}
.div1 {
  left: 881px;
  width: 104px;
}
.btcTxt {
  width: 100%;
}
.btc1,
.div2 {
  text-transform: capitalize;
}
.btc1 {
  position: absolute;
  top: 294px;
  left: 1044px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 41px;
}
.div2 {
  left: 1246px;
  justify-content: center;
  width: 66px;
}
.div2,
.div3,
.div4 {
  position: absolute;
  top: 294px;
  display: flex;
  align-items: center;
  height: 20px;
}
.div3 {
  left: 1371px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div4 {
  left: 1488px;
  text-align: left;
  width: 75px;
}
.cryptoChild1 {
  position: absolute;
  top: 321.5px;
  left: 325.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1264px;
  height: 1px;
}
.bitcoin1 {
  left: 452px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 21px;
}
.bitcoin1,
.btc3,
.div5,
.div6 {
  position: absolute;
  top: 329px;
  display: flex;
  align-items: center;
}
.btc3 {
  left: 569px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 20px;
}
.div5,
.div6 {
  height: 40px;
}
.div5 {
  left: 663px;
  text-transform: capitalize;
  width: 159px;
}
.div6 {
  left: 881px;
  width: 104px;
}
.btc4,
.div6,
.div7 {
  text-transform: capitalize;
}
.btc4 {
  position: absolute;
  top: 329px;
  left: 1044px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 40px;
}
.div7 {
  left: 1246px;
  justify-content: center;
  width: 66px;
}
.div7,
.div8,
.div9 {
  position: absolute;
  top: 329px;
  display: flex;
  align-items: center;
  height: 20px;
}
.div8 {
  left: 1371px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div9 {
  left: 1488px;
  text-align: left;
  width: 75px;
}
.cryptoChild2 {
  position: absolute;
  top: 351.5px;
  left: 325.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1264px;
  height: 1px;
}
.bitcoin2 {
  left: 452px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 22px;
}
.bitcoin2,
.btc6,
.div10,
.div11 {
  position: absolute;
  top: 358px;
  display: flex;
  align-items: center;
}
.btc6 {
  left: 569px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 21px;
}
.div10,
.div11 {
  height: 41px;
}
.div10 {
  left: 663px;
  text-transform: capitalize;
  width: 159px;
}
.div11 {
  left: 881px;
  width: 104px;
}
.btc7,
.div11,
.div12 {
  text-transform: capitalize;
}
.btc7 {
  position: absolute;
  top: 358px;
  left: 1044px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 41px;
}
.div12 {
  left: 1246px;
  justify-content: center;
  width: 66px;
}
.div12,
.div13,
.div14 {
  position: absolute;
  top: 358px;
  display: flex;
  align-items: center;
  height: 21px;
}
.div13 {
  left: 1371px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div14 {
  left: 1488px;
  text-align: left;
  width: 75px;
}
.cryptoChild3 {
  position: absolute;
  top: 378.5px;
  left: 324.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1264px;
  height: 1px;
}
.bitcoin3 {
  left: 451px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 22px;
}
.bitcoin3,
.btc9,
.div15,
.div16 {
  position: absolute;
  top: 385px;
  display: flex;
  align-items: center;
}
.btc9 {
  left: 568px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 20px;
}
.div15,
.div16 {
  height: 41px;
}
.div15 {
  left: 662px;
  text-transform: capitalize;
  width: 159px;
}
.div16 {
  left: 880px;
  width: 104px;
}
.btc10,
.div16,
.div17 {
  text-transform: capitalize;
}
.btc10 {
  position: absolute;
  top: 385px;
  left: 1043px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 41px;
}
.div17 {
  left: 1245px;
  justify-content: center;
  width: 66px;
}
.div17,
.div18,
.div19 {
  position: absolute;
  top: 385px;
  display: flex;
  align-items: center;
  height: 20px;
}
.div18 {
  left: 1370px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div19 {
  left: 1487px;
  text-align: left;
  width: 75px;
}
.cryptoChild4 {
  position: absolute;
  top: 406.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1264px;
  height: 1px;
}
.bitcoin4 {
  left: 454px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 21px;
}
.bitcoin4,
.btc12,
.div20,
.div21 {
  position: absolute;
  top: 413px;
  display: flex;
  align-items: center;
}
.btc12 {
  left: 571px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 20px;
}
.div20,
.div21 {
  height: 41px;
}
.div20 {
  left: 665px;
  text-transform: capitalize;
  width: 159px;
}
.div21 {
  left: 883px;
  width: 104px;
}
.btc13,
.div21,
.div22 {
  text-transform: capitalize;
}
.btc13 {
  position: absolute;
  top: 413px;
  left: 1046px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 41px;
}
.div22 {
  left: 1248px;
  justify-content: center;
  width: 66px;
}
.div22,
.div23,
.div24 {
  position: absolute;
  top: 413px;
  display: flex;
  align-items: center;
  height: 20px;
}
.div23 {
  left: 1373px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div24 {
  left: 1490px;
  text-align: left;
  width: 75px;
}
.cryptoChild5,
.cryptoChild6,
.cryptoChild7,
.cryptoChild8,
.cryptoChild9 {
  position: absolute;
  top: 432.5px;
  left: 326.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1264px;
  height: 1px;
}
.cryptoChild6,
.cryptoChild7,
.cryptoChild8,
.cryptoChild9 {
  top: 467.5px;
}
.cryptoChild7,
.cryptoChild8,
.cryptoChild9 {
  top: 497.5px;
}
.cryptoChild8,
.cryptoChild9 {
  top: 551.5px;
  left: 328.5px;
}
.cryptoChild9 {
  top: 526.5px;
  left: 330.5px;
}
.bitcoin9 {
  left: 453px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 21px;
}
.bitcoin9,
.btc27,
.div46,
.div47 {
  position: absolute;
  top: 440px;
  display: flex;
  align-items: center;
}
.btc27 {
  left: 570px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 20px;
}
.div46,
.div47 {
  height: 40px;
}
.div46 {
  left: 664px;
  text-transform: capitalize;
  width: 159px;
}
.div47 {
  left: 882px;
  width: 104px;
}
.btc28,
.div47,
.div48 {
  text-transform: capitalize;
}
.btc28 {
  position: absolute;
  top: 440px;
  left: 1045px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 40px;
}
.div48 {
  left: 1247px;
  justify-content: center;
  width: 66px;
}
.div48,
.div49,
.div50 {
  position: absolute;
  top: 440px;
  display: flex;
  align-items: center;
  height: 20px;
}
.div49 {
  left: 1372px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div50 {
  left: 1489px;
  text-align: left;
  width: 75px;
}
.bitcoin10 {
  left: 453px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 22px;
}
.bitcoin10,
.btc30,
.div51,
.div52 {
  position: absolute;
  top: 474px;
  display: flex;
  align-items: center;
}
.btc30 {
  left: 570px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 21px;
}
.div51,
.div52 {
  height: 41px;
}
.div51 {
  left: 664px;
  text-transform: capitalize;
  width: 159px;
}
.div52 {
  left: 882px;
  width: 104px;
}
.btc31,
.div52,
.div53 {
  text-transform: capitalize;
}
.btc31 {
  position: absolute;
  top: 474px;
  left: 1045px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 41px;
}
.div53 {
  left: 1247px;
  justify-content: center;
  width: 66px;
}
.div53,
.div54,
.div55 {
  position: absolute;
  top: 474px;
  display: flex;
  align-items: center;
  height: 21px;
}
.div54 {
  left: 1372px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div55 {
  left: 1489px;
  text-align: left;
  width: 75px;
}
.bitcoin11 {
  left: 453px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 21px;
}
.bitcoin11,
.btc33,
.div56,
.div57 {
  position: absolute;
  top: 504px;
  display: flex;
  align-items: center;
}
.btc33 {
  left: 570px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 20px;
}
.div56,
.div57 {
  height: 41px;
}
.div56 {
  left: 664px;
  text-transform: capitalize;
  width: 159px;
}
.div57 {
  left: 882px;
  width: 104px;
}
.btc34,
.div57,
.div58 {
  text-transform: capitalize;
}
.btc34 {
  position: absolute;
  top: 504px;
  left: 1045px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 41px;
}
.div58 {
  left: 1247px;
  justify-content: center;
  width: 66px;
}
.div58,
.div59,
.div60 {
  position: absolute;
  top: 504px;
  display: flex;
  align-items: center;
  height: 20px;
}
.div59 {
  left: 1372px;
  text-transform: capitalize;
  justify-content: center;
  width: 58px;
}
.div60 {
  left: 1489px;
  text-align: left;
  width: 75px;
}
.bitcoin12 {
  position: absolute;
  top: 531px;
  left: 452px;
  font-size: var(--font-size-lg);
  justify-content: center;
  width: 58px;
  height: 21px;
}
.bitcoin12,
.btc36,
.div61,
.div62 {
  display: flex;
  align-items: center;
}
.btc36 {
  position: absolute;
  top: 531px;
  left: 569px;
  text-transform: capitalize;
  justify-content: center;
  width: 35px;
  height: 20px;
}
.div61,
.div62 {
  height: 40px;
}
.div61 {
  position: absolute;
  top: 531px;
  left: 663px;
  text-transform: capitalize;
  width: 159px;
}
.div62 {
  left: 881px;
  width: 104px;
}
.btc37,
.div62,
.div63,
.div64 {
  position: absolute;
  top: 531px;
  text-transform: capitalize;
}
.btc37 {
  left: 1044px;
  display: flex;
  align-items: center;
  width: 143px;
  height: 40px;
}
.div63,
.div64 {
  justify-content: center;
  height: 20px;
}
.div63 {
  left: 1246px;
  display: flex;
  align-items: center;
  width: 66px;
}
.div64 {
  left: 1371px;
  width: 58px;
}
.div64,
.div65,
.watchlist {
  display: flex;
  align-items: center;
}
.div65 {
  position: absolute;
  top: 531px;
  left: 1488px;
  text-align: left;
  width: 75px;
  height: 20px;
}
.watchlist {
  position: relative;
  white-space: pre-wrap;
  justify-content: center;
  width: 152px;
  height: 39px;
  flex-shrink: 0;
  z-index: 0;
}
.vectorIcon2 {
  position: relative;
  width: 18.3px;
  height: 17.8px;
  object-fit: cover;
}
.vectorWrapper {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.filters,
.watchlistParent {
  position: absolute;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  height: 22px;
}
.watchlistParent {
  top: 206px;
  left: 1412px;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.filters {
  top: 205px;
  left: 404px;
  justify-content: center;
  width: 61px;
}
.crypto {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-saira-semicondensed);
}
